<!DOCTYPE html>
<html>
<% include header %>

  <body style="background-color: rgb(238, 238, 238);">


    <!--Navbar -->
    <div class="navbar navbar-inverse" style="background-color: #03a9f4">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0)">{{Your Facebook Page Name}}</a>
      </div>
    </div>
    <!-- Navbar End -->
    <div class="col-md-4"></div>

    <div class="col-md-4" style="text-align: center;">
      <p></p>

      <p></p>

      <p></p>

      <p></p>


      <p>

      </p>
      <div class="sample shadow-z-1" style="padding: 20px">請寫下靠北內容，按下發文按鈕，就會自動發文到 {{Your Facebook Page Name}} 靠北勿指名道姓、透漏任何個資或隱私資訊</div>
      <p></p>
      <div class="form-group">
        <form action="/post" method="post" enctype="application/x-www-form-urlencoded">
          <div class="sample shadow-z-1" style="padding: 20px">
            <textarea class="form-control" rows="8" id="textArea" placeholder="你都在靠北些什麼？" name="anony[text]" required="required" wrap="hard"></textarea>
          </div>
          <p></p>

          <p></p>

          <div class="sample shadow-z-1" style="padding: 20px">

            1 與本版主題無關、或發文內容明顯為測試意圖、或與後勁國中相關但與「靠北」無關之推薦文廣告文職缺文，怒刪！
            <br> 2 想靠北老師又怕用匿名猴子會紀錄IP? 放心，本系統是沒記錄IP的 :) 放心靠北吧！
            <br> 3 本粉絲團言論跟系統作者與系統管理員毫無任何關係。
          </div>
          <p></p>
          <div class="sample shadow-z-1" style="padding: 20px">

            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" required="required"> 我已詳細閱讀以上條款，並且遵守。
            </label>
          </div>
          <button class="btn btn-info btn-raised btn-lg" style="width: 100%;" type="submit">{{Your Facebook Page Name}} Go!</button>
        </form>
      </div>

    </div>


    <!-- Assets -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



  </body>

</html>
