<head>
  <% include header %>
</head>
<body>
  <div class="col-md-4"></div>

  <div class="col-md-4" style="text-align: center;">
    <p></p>

    <p></p>

    <p></p>

    <p></p>


    <p>

      <div class="sample shadow-z-1" style="padding: 20px">您的匿名發文已經送出！</div>
      <%= id %>
    </p>

    </div>

  </div>
</body>
